@import "_lib";

body { margin:0; padding: 40px; background: #f0f0f0; font: 90% sans-serif; }
#console { border: 1px solid red; width: 500px; height: 300px; overflow-y: auto; margin-top: 50px; }

.demotab { border-collapse: collapse;
	td { border: 1px solid #999; padding: 10px 15px;
		&:first-child { width: 160px; }
	}
	.dropdown { width: 100%; }
}
